@using OrchardCore.ContentManagement
@using Mess.Iot.Abstractions.Models

<p>
  @(_contentItem?.As<IotDevicePart>().DeviceId.Text)
</p>

@code {
  private ContentItem? _contentItem;

  [Parameter]
  public ContentItem? ContentItem { get; set; }

  [Parameter]
  public string? ContentItemId { get; set; }

  protected override void OnParametersSet()
  {
    if (ContentItem is not null) {
      _contentItem = ContentItem;
    }
  }

  protected override async Task OnInitializedAsync() {
    if (ContentItem is null && ContentItemId is not null) {
      DispatchAsync(
        async services => {
          var contentManager = ServiceProvider.GetRequiredService<IContentManager>();
          return await contentManager.GetAsync(ContentItemId);
        },
        contentItem => {
          _contentItem = contentItem;
        }
      );
    }
  }
}
