@using OrchardCore.ContentManagement
@using Mess.Iot.Abstractions.Models

@inject IContentManager _contentManager

<p>
  @(ContentItem?.As<IotDevicePart>().DeviceId.Text)
</p>

@code {
  [Parameter]
  public ContentItem? ContentItem { get; set; }

  [Parameter]
  public string? ContentItemId { get; set; }

  protected override async Task OnInitializedAsync() {
    if (ContentItem is null && ContentItemId is not null) {
      ContentItem = await _contentManager.GetAsync(ContentItemId);
    }
  }
}
