@model BillingPartViewModel

<form
    asp-route-area="Mess.Billing"
    asp-controller="Admin"
    asp-action="CreateInvoice"
    asp-route-contentItemId="@Model.ContentItemId">
  <button type="submit">
    <span>@T["Create invoice"]</span>
  </button>
</form>
