@model InvoicePartViewModel

<form
    asp-route-area="Mess.Billing"
    asp-controller="Admin"
    asp-action="ConfirmPayment"
    asp-route-contentItemId="@Model.ContentItemId">
  <button type="submit">
    <span>@T["ConfirmPayment"]</span>
  </button>
</form>
