@model InvoicePartViewModel

<form
    asp-route-area="Mess.Billing"
    asp-controller="@typeof(AdminController).ControllerName()"
    asp-action="@nameof(AdminController.ConfirmPayment)"
    asp-route-contentItemId="@Model.ContentItemId">
  <button type="submit">
    <span>@T["ConfirmPayment"]</span>
  </button>
</form>
