@using Mess.ContentFields.Abstractions;

@model IntervalFieldViewModel

@using OrchardCore.Mvc.Utilities

@{
    var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

<div class="field field-type-apikeyfield field-name-@name">
  @Model.Field.Value.Count
  @T[Model.Field.Value.Unit.ToHumanString()]
</div>
