@using OrchardCore.Mvc.Utilities
@using Mess.Fields.Abstractions
@model IntervalFieldViewModel

@{
  var name = (Model.PartFieldDefinition.PartDefinition.Name + "-" + Model.PartFieldDefinition.Name).HtmlClassify();
}

<div class="field field-type-apikeyfield field-name-@name">
  @Model.Field.Value.Count
  @T[Model.Field.Value.Unit.ToHumanString()]
</div>
