<section style="min-height: 288px;">
  <h3 class="section-header">@T["Error"]</h3>
  <div class="section-content">
    <p>
      @T["Error occurred while processing your request."]
    </p>
  </div>
</section>
