<section style="min-height: 288px;">
  <h3 class="section-header">@T["Not found"]</h3>
  <div class="section-content">
    <p>
      @T["The page you requested could not be found."]
    </p>
  </div>
</section>
