.message {
  position: relative;
  display: flex;
  flex-direction: column;
}

.message > strong {
  margin-bottom: 12px;
}

.message > .message-list > p {
  margin-bottom: 8px;
}

.message > .message-list > p:last-child {
  margin-bottom: 0;
}

.control-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  > * {
    margin-bottom: 8px;
  }
}
