@using Mess.Prelude.Extensions.Objects
@using Mess.Chart.Abstractions.Services
@using Mess.Chart.Factories
@using Mess.Chart.Abstractions.Descriptors
@using OrchardCore.ContentManagement
@using Microsoft.Extensions.DependencyInjection
@inherits ShapeComponentBase<ChartPartViewModel>
@inject IContentManager contentManager

@if (ChartDescriptor is TimeseriesChartDescriptor timeseriesChartDescriptor)
{
  var series = timeseriesChartDescriptor.Datasets
    .Select(dataset => new ChartSeries() {
      Name = dataset.Label,
      Data = dataset.Datapoints.Select(datapoint => (double)datapoint.Y).ToArray()
    })
    .ToList();
  var xAxisLabels = timeseriesChartDescriptor.Datasets.FirstOrDefault()
    ?.Datapoints.Select(datapoint => datapoint.X.ToString())
    .ToArray() ?? Array.Empty<string>();

  <div>
    <MudChart
      ChartType="ChartType.Line"
      ChartSeries="@series"
      XAxisLabels="@xAxisLabels"
      Width="100%"
      Height="350px" />
  </div>
}

@code {
  private ChartDescriptor? ChartDescriptor;

  protected override async Task OnInitializedAsync()
  {
    ContentItem metadataContentItem = Model.Part.ContentItem;
    var chartContentItem = await contentManager.GetAsync(
      Model.ChartContentItemId,
      VersionOptions.Latest
    ) ?? throw new InvalidOperationException("Chart is null");

    var chartFactory = ServiceProvider
      .GetServices<IChartFactory>()
      .FirstOrDefault(
        chartFactory =>
          chartFactory.ContentType == chartContentItem.ContentType
      )!;
    ChartDescriptor =  await chartFactory.CreateChartAsync(
      metadataContentItem,
      chartContentItem
    )!;
  }
}
((double)
