@using Mess.Ozds.Abstractions.Models
@using Mess.Iot.Abstractions.Models

<div class="page">
  <div class="page-header">
    <img src="Mess.Ozds/print-first-header.png" />
  </div>
  <div class="page-content">
    <CalculationPrintContent Item="@Item" DeviceId="@DeviceId"/>
    <CalculationPrintAbbreviations />
  </div>
  <div class="page-footer">
    <img src="Mess.Ozds/print-footer.png" />
  </div>
</div>
<div class="page-break"/>
<div class="page">
  <div class="page-header">
    <img src="Mess.Ozds/print-header.png" />
  </div>
  <div class="page-content">
    <CalculationPrintFooter />
  </div>
  <div class="page-footer">
    <img src="Mess.Ozds/print-footer.png" />
  </div>
</div>

@code {
  [Parameter]
  public OzdsInvoiceItem Item { get; set; } = default!;

  [Parameter]
  public string DeviceId { get; set; } = default!;
}
