@using Mess.Ozds.Abstractions.Models

<p style="margin-top: 0.8rem;">
  Uplatu izvršiti na transakcijski račun,
  IBAN «BrojRacunaZaUplatu»,
  poziv na broj: «PozivNaBroj»
</p>
<table class="info-table" style="margin-top: 0.8rem; width: 100%;">
  <colgroup>
    <col style="width: 71%" />
    <col style="width: 28%" />
  </colgroup>
  <thead>
    <tr>
      <th style="text-align: left;">Operater: @(operatorItem.LegalEntityPart.Value.Name.Text)</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Božjakovina, @(Item.InvoicePart.Value.Date.Value?.ToString("dd. MM. yyyy."))</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: center;">Direktor</td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: center;">Stjepan Horvat</td>
    </tr>
  </tbody>
</table>

@code {
  [Parameter]
  public OzdsInvoiceItem Item { get; set; } = default!;

  private DistributionSystemOperatorItem operatorItem => Item.OzdsInvoicePart.Value.Data.DistributionSystemOperator.AsContent<DistributionSystemOperatorItem>();
}
