@using Mess.Ozds.Abstractions.Models

<div class="page">
  <div class="page-header">
    <img src="Mess.Ozds/invoice-print-header-hrv.svg" />
  </div>
  <div class="page-content">
    <InvoicePrintContent Item="@Item" />
  </div>
  <div class="page-footer">
    <img src="Mess.Ozds/invoice-print-footer-hrv.svg" />
  </div>
</div>

@foreach (string deviceId in Item.OzdsCalculationPart.Value.Calculations
  .Select(calculation => calculation.IotDevice.Content.IotDevicePart.DeviceId.Text))
{
  <div class="page-break" />
  <div class="page">
    <div class="page-header">
      <img src="Mess.Ozds/invoice-print-header-hrv.svg" />
    </div>
    <div class="page-content">
      <CalculationPrintContent Item="@Item" DeviceId="@deviceId" />
    </div>
    <div class="page-footer">
      <img src="Mess.Ozds/invoice-print-footer-hrv.svg" />
    </div>
  </div>
}

@if(Item.OzdsCalculationPart.Value.Calculations.Count > 0)
{
  <div class="page-break" />
  <div class="page">
    <div class="page-header">
      <img src="Mess.Ozds/invoice-print-header-hrv.svg" />
    </div>
    <div class="page-content">
      <CalculationPrintAbbreviations />
    </div>
    <div class="page-footer">
      <img src="Mess.Ozds/invoice-print-footer-hrv.svg" />
    </div>
  </div>
}

<div class="page-break" />
<div class="page">
  <div class="page-header">
    <img src="Mess.Ozds/invoice-print-header-hrv.svg" />
  </div>
  <div class="page-content">
    <CalculationPrintFooter />
  </div>
  <div class="page-footer">
    <img src="Mess.Ozds/invoice-print-footer-hrv.svg" />
  </div>
</div>

@code {
  [Parameter]
  public OzdsInvoiceItem Item { get; set; } = default!;
}
