@using Mess.Ozds.Abstractions.Models

<p>račun br. «BrojDokumenta»</p>
<table>
  <colgroup>
    <col style="width: 57%" />
    <col style="width: 19%" />
    <col style="width: 23%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>«PartnerProjekta»</th>
      <th>datum isporuke:</th>
      <th>«DatumISPORUKE»</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>«NaslovIliAdresaPartnera»</td>
      <td>dospijeće:</td>
      <td>«ValutaPlacanja»</td>
    </tr>
    <tr class="even">
      <td>«AdresaPartnera»</td>
      <td>datum UGOVORA:</td>
      <td>«DatumUGOVORA»</td>
    </tr>
    <tr class="odd">
      <td>«PostanskiBrojPartnera» «MjestoPartnera»</td>
      <td>ugovor:</td>
      <td>«BrojUGOVORA»</td>
    </tr>
    <tr class="even">
      <td>oib: «OIBPartnera»</td>
      <td>nosioc:</td>
      <td>«SifraProjekta»</td>
    </tr>
  </tbody>
</table>
<p>
  za električnu energiju za razdoblje: od <strong>xx.xx.202x.</strong> do
  <strong>xx.xx.202x.</strong>
</p>
<table>
  <colgroup>
    <col style="width: 6%" />
    <col style="width: 52%" />
    <col style="width: 8%" />
    <col style="width: 9%" />
    <col style="width: 10%" />
    <col style="width: 12%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>rbr</th>
      <th>naziv artikla / usluge</th>
      <th>jm</th>
      <th>kol</th>
      <th>cijena</th>
      <th>ukupno</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>«Rbr»</td>
      <td>«NazivArtikla»</td>
      <td>«JM»</td>
      <td>«Kol»</td>
      <td>«Cijena»</td>
      <td>«Ukupno»</td>
    </tr>
    <tr class="even">
      <td></td>
      <td>Tarifni model <strong>– XXXX</strong></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>1.)</td>
      <td>Naknada za korištenje mreže ZDS-a</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="even">
      <td>1.1)</td>
      <td>Korištenje mreže u doba više dnevne tarife</td>
      <td>kWh</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="odd">
      <td>1.2)</td>
      <td>Korištenje mreže u doba niže dnevne tarife</td>
      <td>kWh</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="even">
      <td>1.3)</td>
      <td>Angažirana snaga u doba više tarife</td>
      <td>kW</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="odd">
      <td>1.4)</td>
      <td>Prekomjerno preuzeta jalova energija</td>
      <td>kVAr</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="even">
      <td>1.5)</td>
      <td>Naknada za mjernu uslugu</td>
      <td>mjesec</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="odd">
      <td></td>
      <td>Naknada za korištenje mreže - UKUPNO</td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>0,00</strong></td>
    </tr>
    <tr class="even">
      <td>2.)</td>
      <td>Naknada za opskrbu električnom energijom</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td>2.1)</td>
      <td>Opskrba električnom energijom u doba više dnevne tarife</td>
      <td>kWh</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="even">
      <td>2.2)</td>
      <td>Opskrba električnom energijom u doba niže dnevne tarife</td>
      <td>kWh</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="odd">
      <td>2.3)</td>
      <td>
        Naknada za poticanje proizvodnje iz obnovljivih izvora energije i
        kogeneracije
      </td>
      <td>kWh</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="even">
      <td>2.4)</td>
      <td>Trošarina za poslovnu/neposlovnu upotrebu</td>
      <td>kWh</td>
      <td>000</td>
      <td>0,00000</td>
      <td>0,00</td>
    </tr>
    <tr class="odd">
      <td></td>
      <td>Naknada za opskrbu – UKUPNO:</td>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>0,00</strong></td>
    </tr>
  </tbody>
</table>
<table>
  <colgroup>
    <col style="width: 76%" />
    <col style="width: 23%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>ukupno ( Korištenje mreže + Opskrba električnom energijom):</th>
      <th>«Sveukupno»</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>pdv (13%):</td>
      <td>«PDV»</td>
    </tr>
    <tr class="even">
      <td>SVEukupni iznos:</td>
      <td>«UkupnoPDV»</td>
    </tr>
  </tbody>
</table>
<p>Napomena</p>
<p>«Napomena»</p>
<p>
  Uplatu izvršiti na transakcijski račun, IBAN «BrojRacunaZaUplatu», poziv na
  broj: «PozivNaBroj»
</p>
<table>
  <colgroup>
    <col style="width: 71%" />
    <col style="width: 28%" />
  </colgroup>
  <thead>
    <tr class="header">
      <th>Operater: «IzradioIme» «IzradioPrezime»</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td>Božjakovina, «DatumRacuna»</td>
      <td></td>
    </tr>
    <tr class="even">
      <td></td>
      <td></td>
    </tr>
    <tr class="odd">
      <td></td>
      <td>Direktor</td>
    </tr>
    <tr class="even">
      <td></td>
      <td>Stjepan Horvat</td>
    </tr>
  </tbody>
</table>


@code {
  [Parameter]
  public OzdsInvoiceItem Item { get; set; } = default!;

  private OzdsInvoiceData data => Item.OzdsInvoicePart.Value.Data;

  private DistributionSystemUnitItem unitItem => Item.OzdsInvoicePart.Value.Data.DistributionSystemUnit.AsContent<DistributionSystemUnitItem>();

  private DistributionSystemOperatorItem operatorItem => Item.OzdsInvoicePart.Value.Data.DistributionSystemOperator.AsContent<DistributionSystemOperatorItem>();

  private ClosedDistributionSystemItem systemItem => Item.OzdsInvoicePart.Value.Data.ClosedDistributionSystem.AsContent<ClosedDistributionSystemItem>();

  private RegulatoryAgencyCatalogueItem regulatoryAgencyCatalogue => Item.OzdsInvoicePart.Value.Data.RegulatoryAgencyCatalogue.AsContent<RegulatoryAgencyCatalogueItem>();
}
