@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto.woff2") format("woff2");
}

* {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
}
