section {
  position: relative;
  background-color: var(--transparent);
  margin-bottom: 32px;
  padding-top: 22px;
  padding-bottom: 28px;
  padding-inline: 18px;
  max-width: var(--max-section-width);
}

section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-background);
  opacity: 0.9;
}

section:last-child {
  margin-bottom: 0;
}

.section-header {
  position: relative;
  cursor: default;
  margin-bottom: 22px;
  font-weight: 600;
}

.section-content {
  position: relative;
}

.section-footer {
  position: relative;
  margin-top: 36px;
  display: flex;
  justify-content: flex-end;
}

.section-footer a {
  display: inline;
  padding: 0;
  color: var(--link-foreground);
}

.section-footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}
