@inherits ContentItemRazorPage<AbbMeasurementDeviceItem>

<section>
  <h3 class="section-header">@ContentItem.TitlePart.Value.Title</h3>
  <div class="section-footer">
    <a
        asp-route-area="Mess.Eor"
        asp-controller="EorMeasurementDevice"
        asp-action="Detail"
        asp-route-contentITemId="@ContentItem.ContentItemId">
      @T["More..."]
    </a>
  </div>
</section>
