<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <base href="~/" />
  <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)" render-mode="ServerPrerendered" />
  <script src="~/_framework/blazor.web.js"></script>
</head>

<body>
  @RenderBody()
</body>

<foot>
  @RenderSection("Scripts", required: false)
</foot>

</html>
