@model ComponentViewModel

@inject IShapeComponentModelStore shapeComponentModelStore

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
  @(await Html.RenderComponentAsync(
    typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet),
    RenderMode.ServerPrerendered,
    new { }
  ))
</head>

<body>
  @{
    var layoutShape = await Factory.New.ComponentLayout();
    layoutShape.ComponentType = typeof(AppBridge);
    layoutShape.RenderId = "";
  }

  @(await DisplayAsync(layoutShape))
</body>

</html>
