@model ComponentViewModel

@inject IComponentCaptureStore componentCaptureStore
@inject IResourceManager resourceManager
@inject IRenderIdAccessor renderIdAccessor

@{
  var renderId = Guid.NewGuid();
  componentCaptureStore.Add(
    renderId,
    new ComponentCapture
    {
      Model = Model.Model
    }
  );
  renderIdAccessor.RenderId = renderId;

  Layout = null;
}

<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
  @(await Html.RenderComponentAsync(
    typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet),
    RenderMode.ServerPrerendered,
    new { }
  ))
</head>

<body>
  @{
    var layoutShape = await Factory.New.ComponentLayout();
    layoutShape.ComponentType = Model.ComponentType;
    layoutShape.RenderId = renderId;
    layoutShape.Meta = resourceManager.RenderMeta();
    layoutShape.HeadLink = resourceManager.RenderHeadLink();
    layoutShape.HeadScript = resourceManager.RenderHeadScript();
    layoutShape.Stylesheet = resourceManager.RenderStylesheet();
    layoutShape.FootScript = resourceManager.RenderFootScript();
  }

  @(await DisplayAsync(layoutShape))
</body>

</html>
