@using Mess.Chart.Abstractions.Providers

@model ChartPartSettingsViewModel

@inject IChartProviderLookup _lookup

<div class="mb-3">
    <div class="w-md-50 pe-md-3">
        <label asp-for="Provider">@T["Provider"]</label>
        <select asp-for="Provider" asp-items="_lookup.Options()" class="form-control"></select>
    </div>
    <span class="hint">@T["The provider to use for chart data"]</span>
</div>