@using Mess.Chart.Abstractions.Providers

@model ChartPartViewModel

@inject IChartDataProviderLookup _lookup

<div class="mb-3">
  <label asp-for="Part.DataProviderId">@T["Data provider"]</label>
  <select asp-for="Part.DataProviderId" asp-items="@_lookup.Options()" />
  <span class="hint">@T["How data will be fetched for the chart."]</span>
</div>