@model ChartPartEditViewModel

<div class="mb-3 row">
  <div class="col-sm-6">
    <label asp-for="ChartContentItemId">@T["Chart"]</label>
    <select class="form-select" asp-for="ChartContentItemId">
      @foreach (var item in Model.ChartContentItemIdOptions)
      {
        <option value="@item.Value">@item.Text</option>
      }
    </select>
    <span class="hint">@T["Which chart to use."]</span>
  </div>
</div>
