@using Mess.System.Extensions.Object

@model ChartPartViewModel

<script asp-name="jQuery-ui" at="Foot"></script>

@{
  var name = Model.Definition.Name.HtmlClassify();
}

<canvas id="chart-canvas-@name"></canvas>
<span id="chart-canvas-error-@name"></span>

<script asp-name="mess-chart" at="Foot"></script>
<script at="Foot">
  $(function () {
    var contentItem = "@Html.Raw(Model.Part.ContentItem.ToJson(pretty: false))";
    createChart(contentItem)
      .then(function (chart) {
        if (!chart) {
          var errorSpan = document.getElementById("chart-canvas-error-@name");
          errorSpan.innerHtml = '@T["Error occured while creating chart"]';
        }

        bindChart(
          "chart-canvas-error-@name",
          "@Html.Raw(Orchard.CultureName())",
          chart);
      })
      .catch(console.error);
  })
</script>