<div 
    class="
      d-flex
      flex-column
      justify-content-between
    ">
  <div
      class="
        border
        rounded
        p-2
        ps-3
        mb-1
      ">
    @if (Model.Content != null)
    {
      @await DisplayAsync(Model.Content)
    }
    else
    {
      @* For charts without a display driver *@
      <span>
        @Model.ContentItem.DisplayText
        <span class="text-muted dashed">
          @Model.ContentItem.ContentType
        </span>
      </span>
    }
  </div>
  <div class="float-end">
    <button
        type="button"
        class="btn btn-primary btn-sm"
        data-bs-toggle="modal"
        data-bs-target="#modalChartTypes">
      @T["Change chart type"]
    </button>
  </div>
</div>