<div class="card h-100">
  <div class="card-body">
    @if (Model.Content != null)
    {
      @await DisplayAsync(Model.Content)
    }
    else
    {
      <span>Missing display driver</span>
    }
  </div>
  <div class="card-footer text-muted text-sm-end">
    <a 
        class="btn btn-primary btn-sm thumbnail-link-create"
        asp-route-area="Mess.Chart"
        asp-route-controller="ConcreteChartAdmin"
        asp-route-action="Create"
        asp-route-contentItemId="@Model.ContentItemId"
        asp-route-contentType="@Model.ContentType">
      @T["Add"]
    </a>
  </div>
</div>
