@model LineChartDatasetPartEditViewModel

<div class="mb-3">
  <label asp-for="Label">@T["Label"]</label>
  <input asp-for="Label" class="form-control" />
</div>

<div class="mb-3">
  <label asp-for="Color">@T["Color"]</label>
  <input asp-for="Color" class="form-control" />
</div>