@model TimeseriesChartDatasetPartEditViewModel

@inject OrchardCore.ContentManagement.IContentManager ContentManager
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager ContentItemDisplayManager
@inject OrchardCore.DisplayManagement.ModelBinding.IUpdateModelAccessor ModelUpdaterAccessor

<div class="mb-3 row">
  <div class="col-sm-6">
    <label asp-for="Property">@T["Data provider"]</label>
    <select class="form-select" asp-for="Property">
      @foreach (var item in Model.PropertyOptions)
      {
        <option value="@item.Value">@item.Text</option>
      }
    </select>
    <span class="hint">@T["The property from which the data will be extracted"]</span>
  </div>
</div>