@model TimeseriesChartDatasetPartEditViewModel

<div class="mb-3 row">
  <div class="col-sm-6">
    <label asp-for="Property">@T["Property"]</label>
    <select class="form-select" asp-for="Property">
      @foreach (var item in Model.PropertyOptions)
      {
        <option value="@item.Value">@item.Text</option>
      }
    </select>
    <span class="hint">@T["The property from which the data will be extracted"]</span>
  </div>
</div>