@using Microsoft.AspNetCore.Html

<p>
  hello from content!
</p>

@ContentMarkup

@code {
  private MarkupString? ContentMarkup { get; set; }

  protected override async Task OnInitializedAsync() {
    ContentMarkup = await DisplayAsync(Model.Content);
  }
}
