@using Microsoft.AspNetCore.Html
@using OrchardCore.ResourceManagement

@* TODO: fix circuit not being able to initialize *@

@inherits LayoutShapeComponentBase

@inject IResourceManager resourceManager

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<HeadContent>
  @{
    var siteName = Site?.SiteName;
    if (siteName is not null) {
      <title>
        @RenderTitleSegments(siteName, "before");
      </title>
    }
  }

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  @HeadMeta

  @Meta
  @HeadLink
  @HeadScript
  @Stylesheet
</HeadContent>

<header>
  @if (IsSectionDefined("Messages"))
  {
    @Messages
  }
</header>

<main>
  @Body

  <MudText Typo="Typo.h6">MudBlazor is @Text</MudText>
  <MudButton
    Variant="Variant.Filled"
    Color="Color.Primary"
    OnClick="ButtonOnClick">
    @ButtonText
  </MudButton>
</main>

<footer>
  @Footer
</footer>

@FootScript

@code {
  private RenderFragment? HeadMeta { get; set; }
  private RenderFragment? Messages { get; set; }
  private RenderFragment? Footer { get; set; }

  protected override async Task OnLayoutInitializedAsync() {
    HeadMeta = await RenderSectionAsync("HeadMeta", false);
    Messages = await RenderSectionAsync("Messages", false);
    Footer = await RenderSectionAsync("Footer", false);
  }
}

@code {
  public string Text { get; set; } = "????";

  public string ButtonText { get; set; } = "Click Me";

  public int ButtonClicked { get; set; }

  void ButtonOnClick()
  {
    ButtonClicked += 1;
    Text = $"Awesome x {ButtonClicked}";
    ButtonText = "Click Me Again";
  }
}
