@using Microsoft.AspNetCore.Html
@using OrchardCore.ResourceManagement

@inherits LayoutShapeComponentBase

@inject IResourceManager resourceManager

<HeadContent>
  @{
    var siteName = Site?.SiteName;
    if (siteName is not null) {
      <title>
        @RenderTitleSegments(siteName, "before");
      </title>
    }
  }

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  @HeadMeta

  @Meta
  @HeadLink
  @HeadScript
  @Stylesheet
</HeadContent>

<header>
  @if (IsSectionDefined("Messages"))
  {
    @Messages
  }
</header>

<main>
  <MudThemeProvider/>
  <MudDialogProvider/>
  <MudSnackbarProvider/>

  @Body
</main>

<footer>
  @Footer
</footer>

@FootScript

@code {
  private RenderFragment? HeadMeta { get; set; }
  private RenderFragment? Messages { get; set; }
  private RenderFragment? Footer { get; set; }

  protected override async Task OnLayoutInitializedAsync() {
    HeadMeta = await RenderSectionAsync("HeadMeta", false);
    Messages = await RenderSectionAsync("Messages", false);
    Footer = await RenderSectionAsync("Footer", false);
  }
}
