@inject IComponentCaptureStore componentCaptureStore
@inject IResourceManager resourceManager

@{
  var captureId = Guid.NewGuid();
  componentCaptureStore.Add(
    captureId,
    new ComponentCapture {
      Model =  new LayoutViewModel {
        CaptureId = captureId,
        Meta = resourceManager.RenderMeta(),
        HeadLink = resourceManager.RenderHeadLink(),
        HeadScript = resourceManager.RenderHeadScript(),
        Stylesheet = resourceManager.RenderStylesheet(),
        FootScript = resourceManager.RenderFootScript()
      }
    }
  );

  Layout = null;
}

<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
  @(await Html.RenderComponentAsync(
    typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet),
    RenderMode.ServerPrerendered,
    new { }
  ))
</head>

<body>
  @{
    var appShape = await Factory.New.App();
    appShape.CaptureId = captureId;
  }

  @(await DisplayAsync(appShape))
</body>

</html>
