@inject IComponentCaptureStore componentCaptureStore
@inject IResourceManager resourceManager
@inject IRenderIdAccessor renderIdAccessor

@{
  var renderId = Guid.NewGuid();
  componentCaptureStore.Add(
    renderId,
    new ComponentCapture {
      Model =  new LayoutViewModel {
        RenderId = renderId,
        Meta = resourceManager.RenderMeta(),
        HeadLink = resourceManager.RenderHeadLink(),
        HeadScript = resourceManager.RenderHeadScript(),
        Stylesheet = resourceManager.RenderStylesheet(),
        FootScript = resourceManager.RenderFootScript()
      }
    }
  );
  renderIdAccessor.RenderId = renderId;

  Layout = null;
}

<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
  @(await Html.RenderComponentAsync(
    typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet),
    RenderMode.ServerPrerendered,
    new { }
  ))
</head>

<body>
  @{
    var appShape = await Factory.New.App();
    appShape.RenderId = renderId;
  }

  @(await DisplayAsync(appShape))
</body>

</html>
