@model ComponentViewModel

@inject IShapeComponentModelStore shapeComponentModelStore

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="@Orchard.CultureName()">

<head>
  @(await Html.RenderComponentAsync(
    typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet),
    RenderMode.ServerPrerendered,
    new { }
  ))
</head>

<body>
  @{
    var appShape = await Factory.New.App();
  }

  @(await DisplayAsync(appShape))
</body>

</html>
