@model ApiKeyFieldEditViewModel

@using OrchardCore.Mvc.Utilities

@{
    var settings = Model.PartFieldDefinition.GetSettings<TextFieldSettings>();
    var culture = await Orchard.GetContentCultureAsync(Model.Field.ContentItem);
    var uniqueName = $"{Model.PartFieldDefinition.PartDefinition.Name}-{Model.PartFieldDefinition.Name}";
}

<div class="mb-3 field-wrapper field-wrapper-@uniqueName.HtmlClassify()" id="@Html.IdFor(x => x.Value)_FieldWrapper">
    <label asp-for="Value">@Model.PartFieldDefinition.DisplayName()</label>
    <input asp-for="Value" class="form-control content-preview-text" dir="@culture.GetLanguageDirection()" />
</div>
