<!DOCTYPE html>
<html lang="@Orchard.CultureName()">
  <head>
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <link
        type="image/x-icon"
        rel="shortcut icon"
        href="~/Mess.Nilavasa/assets/favicon.ico">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @await RenderSectionAsync("HeadMeta", required: false)
    <resources type="Meta" />

    <resources type="HeadLink" />
    <resources type="HeadScript" />

    <resources type="Stylesheet" />

    <style asp-name="mess-nilavasa"></style>
    <script asp-name="mess-nilavasa"></script>
  </head>

  <body dir="@Orchard.CultureDir()">
    <header class="header">
      <div class="container">
        <nav>
          <a
            href="https://www.helb.hr/"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img src="~/Mess.Nilavasa/assets/images/logo.png" alt="HELB" />
          </a>
        </nav>
        @await RenderSectionAsync("Header", required: false)
        @await RenderSectionAsync("Login", required: false)
      </div>
    </header>


    <main>
      <div class="container">
        @await RenderSectionAsync("Messages", required: false)
        @await RenderBodyAsync()
      </div>
    </main>

    @if (IsSectionDefined("Footer"))
    {
      <footer>
        <div class="container">
          @await RenderSectionAsync("Footer", required: false)
        </div>
      </footer>
    }

    <resources type="FootScript" />
  </body>
</html>