<section style="min-height: 288px;">
  <h3 class="section-header">@T["Unauthorized"]</h3>
  <div class="section-content">
    <p>
      @T["You are not authorized to access this page."]
    </p>
  </div>
</section>
